*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
section
{
    padding: 100px;
}
.banner
{
    position: relative;
    min-height: 100vh;
    background: url(/img/mountain.jpg);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner h2
{
    font-size: 3em;
    color: #fff;
    font-weight: 500;
    line-height: 1.2em;
}
.banner h2 span
{
    font-size: 1.5em;
    font-weight: 700;    
}
.banner h3
{   
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em;

}
.btn{
    position: relative;
    background: #557A95;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
}

/* header */
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px;
    z-index: 10;
    background: #557A95;
}
header .logo
{
    font-size: 30px;
    font-family: monospace;
    color: #fff;
    font-weight: 700;
}
header .navigation
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;

}
header .navigation li
{
    list-style: none;
    margin: 0 10px;
}
header .navigation li a
{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 1px;
}
header .navigation li a:hover
{
    color: #000;
}

/* about me */
.heading
{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}
.about
{
    justify-content: center;
    align-items: center;
}
.heading
{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #000;
}
.heading h2
{
    font-weight: 100;
    font-size: 20px;
    justify-content: center;
    text-align: center;
    
}
.content
{
    display: flex;
    justify-content: space-between;
}
.contentBx
{
    padding-right: 50px;
}
.contentBx h2
{
    font-family: helvetica;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 500;
    margin-left: 45px;
}
.contentp 
{
    justify-content: center;
    text-align: center;
    margin-right: auto;
    margin-left: 50px;
}
.me{
    width: 200px;
    clip-path: circle();
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 10px;
    
}


/* skill */
.services
{
    background: #111;
    padding-top: 100px
}
.heading.white
{
    color: #fff;
}
.services .content
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.services .content .servicesBx
{
    padding: 40px 20px;
    background: #222;
    color: #fff;
    max-width: 340px;
    margin: 20px;
    text-align: center;
    transition: 0.5s;
}
.services .content .servicesBx:hover
{
    background: #557A95;
}
.services .content .servicesBx img
{
    max-width: 80px;
    filter: invert(1);
}
.services .content .servicesBx h2
{
    font-size: 20px;
    font-weight: 600;
}

/* My work */
.work .content
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.work .content .workBx
{
    width: 30%;
    padding: 3px;
    margin: 2px;
}
.work .content .workBx img
{
    max-width: 100%;
}
.heading h2
{
    font-weight: 500;
    font-size: 24px;
}

/* contact */
.contact
{
    background: #111;
}
.formBx
{
    min-width: 60%;
}
.formBx form
{
    display: flex;
    flex-direction: column;
}
.formBx form h3,
.contactInfo h3
{
    color: #fff; 
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;

}
.formBx form input,
.formBx form textarea
{
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    background: transparent;
    border: none;
    outline: none;
    background: #222;
    color: #fff;
    resize: none;
}
.formBx form textarea
{
    min-height: 200px;  
}
.formBx form input::placeholder,
.formBx form textarea::placeholder
{
    color: #999;
}
.formBx form input[type="submit"]
{
    max-width: 100px;
    background: #557A95;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.contactInfo
{
    min-height: 40%;
}
.contactInfoBx
{
    position: relative;
}
.contactInfoBx .box
{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.contactInfoBx .box .icon
{
    min-width: 40px;
    padding-top: 4px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 24px;
}
.contactInfoBx .box .text
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.contactInfoBx .box .text h3
{
    font-weight: 500;
    color: #2196f3;
    margin-bottom: 0;
}



@media (max-width: 991px)
{
    header
    {
        padding: 15px 30px;
        height: 118px;
        flex-direction: column;
    } 
    .menu
    {
        position: fixed;
        top: 0;
        left: 0;
        display: block;
        padding: 100px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background: #fff;
        transition: 0.5s;
        z-index: 999;
        border-top: 1px solid rgba(0,0,0,0.2);
    }
    header ul li a
    {
        color: #111;
    }
    .toggle
    {
        width: 40px;
        height: 40px;
        background: url(/img/banner.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
    }
    section
    {
        padding: 100px 50px;
    }
    .banner
    {
        padding: 150px 50px 100px;
    }
    .banner h2{
        font-size: 1.5em;
    }
    .banner h3{
        font-size: 1em;
    }
    .btn
    {
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 16px;
    }
    .content h3
    {
        font-size: 20px;
    }
    .content
    {
        flex-direction: column;
    }
    .w50 {
        min-width: 50%;
        margin-bottom: 20px;
        margin-left: 45px;
        
    }
    .me {
        min-width: 50%;
        margin-bottom: 20px;
        
    }
    .services .content .servicesBx
    {   
        margin: 5px;

    }
    .work .content .workBx
    {
        width: 100%;
        padding: 10px;
    }
    .contactInfo
    {
        margin: 20px 0;
    }

}
.reveal
{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1s ease;
}
.reveal.active
{
    transform: translateY(0px);
    opacity: 1;  
}